.todo-item {
    background-color: cyan;
    padding: 1%;
    margin: 2% 0;
    border-radius: 0.5cm;
    box-sizing: border-box;
    font-family: sans-serif;
    font-style: oblique;    
}
.content {
    position: relative;
    display: flex;
}
.todo-name {
    color: darkblue;
    cursor: pointer;
    width: 95%;
    margin: 0;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.active {
    text-decoration: line-through;
    color: gray;
}
.date {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    text-align: right;
    color: thistle;
}
.delete {
    width: 12px;
    height: 18px;
    color: white;
    margin: 0;
    font-size: 1.5rem;
    color: red;
    padding: 2px 2px;
}

.hidden {
    display: none;
}