.custom-button {
    background-color: rgb(105, 248, 105);
    border-radius: 0.1cm;
    border: none;
    width: 100px;
    min-width: 60px;
    height: 40px;
    margin-top: auto;
    cursor: pointer;
    
}
.custom-button:hover {
    background-color: rgb(21, 255, 21);
    
}