.todo-label {
    color: forestgreen;
    font: 500;
    font-size: 3rem;
    padding-right: 10px;
}

input {
    margin-top: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    padding: 0;
    font-size: 2rem;
    background-color: rgb(155, 255, 222);
    box-sizing: border-box;
    width: 100%;
}
input:focus {
    height: 50px;
    margin-top: 0px;
}