.todos {
    margin: 5% 10%;
    padding: 0 5% 5% 5%;
    background-color: aquamarine;
    border-radius: 1cm;
    font-family: 'Bigelow Rules';
    font-weight: 500;
}
.header {
    text-align: center;
    color: blueviolet;
    font-size: 5rem;
    margin: 0;
}
.form {
    display: flex;
    justify-content: space-between;
}